<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Webcron management :: Log in</title>
        {{ encore_entry_link_tags('security.login') }}

        {{ encore_entry_script_tags('security.login') }}
    </head>
    
    <body>
        <div class="container-fluid py-3">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-xs-12">
                    {{ include('flashes.html.twig') }}
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error.messageKey | trans(error.messageData, 'security') }}
                            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    {% endif %}
                    <h1>Webcron management</h1>
                    <form class="form-horizontal" method="post" action="{{ path('login_check') }}">

                        <div class="mb-3">
                            <label for="username">{{ 'security.login.username.label' | trans }}</label>
                            <input type="text" name="_username" class="form-control" id="username" placeholder="{{ 'security.login.username.placeholder' | trans }}">
                        </div>
                        <div class="mb-3">
                            <label for="password">{{ 'security.login.password.label' | trans }}</label>
                            <input type="password" name="_password" class="form-control" id="password" placeholder="{{ 'security.login.password.placeholder' | trans }}">
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" name="_remember_me" id="autologin" class="form-check-input">
                            <label class="from-check-label" for="autologin">{{ 'security.login.remember.label' | trans }}</label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit" class="mb-3 btn btn-outline-primary">{{ 'security.login.submit-btn.label' | trans }}</button>
                    </form>
                    {% if app.request.server.get('DEMO_MODE') == 'true' %}
                    {# Demo mode credentials #}
                        <div class="mb-3 text-muted small">
                            <p class="mb-0">{{ 'demomode.credentials.header' | trans }}</p>
                            <p class="mb-0">{{ 'demomode.credentials.username' | trans }}: {{ app.request.server.get('DEMO_USER') }}</p>
                            <p class="mb-0">{{ 'demomode.credentials.password' | trans }}: {{ app.request.server.get('DEMO_PASS') }}</p>
                        </div>
                    {% endif %}
                    <div class="mb-3 text-muted small">
                        {% if (kernelProjectDir ~ "/version") is ondisk %}{{ (kernelProjectDir ~ "/version") | contents }}{% else %}dev-main{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>